.header-container {
  height: 50px;
}
.header-container .header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  display: flex;
  height: 50px;
  background-color: rgb(0, 0, 0);
  border-bottom: 4px solid #72438f;
}
.header-container .header .header-title {
  color: #a351c5;
  padding: 10px 20px;
  font-size: 20px;
}
.header-container .header nav {
  display: flex;
  align-items: center;
}
.header-container .header nav a {
  padding: 10px;
  cursor: pointer;
  text-decoration: none;
  color: #ffffff;
}
.header-container .header nav a.selected {
  text-decoration: underline;
  color: rgba(163, 81, 197, 0.85);
}